*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(0, 53, 99);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(65, 173, 245);
}

.navbar{
    background-color: aliceblue;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 10000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.nav-logo img {
    width: 350px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style:none;
    flex-wrap: wrap;
}

.nav-link {
    color: rgb(68, 149, 216);
    text-decoration: none;
    font-size: 15pt;
    padding: 5px 5px;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: rgb(255, 255, 255);   
}

@media screen and ( max-width: 768px) {
    .nav-container{
        flex-direction: column;
        align-items: start;
        padding: 16px;
    }

    .nav-logo{
    width: 100%;
    height: auto;
    }

    .nav-menu{
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    .nav-item{
        margin-top: 12px;
        width: 100%;
    }

    .nav-link{
        padding: 12px;
        width: 100%;
    }

    
}
