*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fondo_pokebola.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(65, 173, 245);
}



.navbar {
    
  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 15px 40px;
  background-color: rgba(234, 246, 255, 0.9);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.nav-logo img {
    width: 240px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style:none;
    flex-wrap: wrap;
}

.nav-link {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: #2b78c5;
    position: relative;
    transition: color 0.4s ease;
    font-size: 19pt;
    padding: 4px 2px;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #1b4f8a;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  color: #1b4f8a;
}

.nav-link:hover::after {
  transform: scaleX(1);
  width: 100%;
}

@media screen and ( max-width: 768px) {
    .nav-container{
        flex-direction: column;
        align-items: start;
        padding: 16px;
    }

    .nav-logo{
    width: 100%;
    height: auto;
    }

    .nav-menu{
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    .nav-item{
        margin-top: 12px;
        width: 100%;
    }

    .nav-link{
        padding: 12px;
        width: 100%;
    }

    
}
