*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blueviolet;
}

.navbar{
    background-color: aliceblue;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 10000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.nav-logo img {
    width: 350px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style:none;
    flex-wrap: wrap;
}

.nav-link {
    color: blueviolet;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}