.container {
    max-width: 1200px;
    margin: 0  auto;
    padding: 5px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 16px 0;   
}

.pokemon-card {
  background: linear-gradient(180deg, #f5f7ff, #e7f0ff);
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  flex: calc(33.3333% - 32px);
  max-width: calc(33.3333% - 32px);
  min-width: 300px;
  position: relative;
}

.pokemon-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.pokemon-image{
    width: 100%;
    height: 300px;
    object-fit: contain;
    background: linear-gradient(120deg, #cfcfcf, #eeeeee);
}

.pokemon-info{
    padding: 15px 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.pokemon-name{
    font-family: 'Nunito', sans-serif;
    font-size: 22pt;
    text-transform: capitalize;
    color: #2f4f6f;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

.pokemon-type {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 18px;
    padding: 10px 18px;
    font-size: 18pt;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    border: 2px solid rgba(255,255,255,0.4);
}


.type-electric {
    background: linear-gradient(120deg, #0059ff, #00aeff);
}

.type-grass { 
    background: linear-gradient(120deg, #008528, #2cbe00);
}

.type-fire { 
    background: linear-gradient(120deg, #8b0000, #fa0000);
}

.type-water { 
    background: linear-gradient(120deg, #1faab4, #01cedd);
}

.type-normal { 
    background: linear-gradient(120deg, #5a5a5a, #7e7e7e);
}

.type-ghost { 
    background: linear-gradient(120deg, #7700ff, #240066);
}

.type-psychic { 
    background: linear-gradient(120deg, #6b0079, #f700ff, #2f00ff );
}

@media screen and (max-width: 548px) {
    .pokemon-card{
        flex: 100%;
        max-width: 100%;
    }
}

